.container {
	margin: 20px auto;
}


.sys-sqltipinfo-wrap {
    position: relative;
}

.sys-sqltipinfo-container {
    width: 180px;
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
    display: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    background: #fff;
    z-index: 999;
}

.sys-sqltipinfo-container ul {
    padding: 0;
    margin: 0;
}

.sys-sqltipinfo-container ul > li {
    height: 19px;
    line-height: 19px;
    border-bottom: 1px solid #f9f9f9;
    text-indent: 12px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.sys-sqltipinfo-container ul > li:hover,
.sys-sqltipinfo-container ul > li.selected {
    background-color: #6488c2;
    color: white;
}

.sys-sqltipinfo-cloneTextArea {
    float: left;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
}
